<!DOCTYPE html>
<html>
<head>
  <title>App gem</title>
  <%= stylesheet_link_tag    "app/gem/application", media: "all" %>
  <%= javascript_include_tag "app/gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
